<div id="counts" class="counts  ">
	<div class="container">
		<div class="row counters boxWhite ">
			<div class="col-lg-4 col-6 text-center">
				<span data-purecounter-start="150" data-purecounter-end="{{ counts.projectsCount ?? 0 }}" data-purecounter-duration="1" class="purecounter"></span>
				<p>Projets</p>
			</div>
			<div class="col-lg-4 col-6 text-center">
				<span data-purecounter-start="150" data-purecounter-end="{{ counts.collaboratorsCount ?? 0 }}" data-purecounter-duration="1" class="purecounter"></span>
				<p>Utilisateurs</p>
			</div>
			<div class="col-lg-4 col-12 text-center">
				<span data-purecounter-start="150" data-purecounter-end="{{ counts.eventsCount ?? 0 }}" data-purecounter-duration="1" class="purecounter"></span>
				<p>Evènements</p>
			</div>
		</div>
	</div>
</div>
