{% for label, messages in app.flashes %}
    {% for message in messages %}
        <section class="alert alert-{{ label }} alert-dismissible flashMessage" role="alert ">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            <div class="alert-message">
                {{ message|raw }}
            </div>
        </section>
    {% endfor %}
{% endfor %}