{# templates/event/create.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create Event</h1>

    {{ form_start(form) }}
        {{ form_rest(form) }}
     
		<button type="submit" class="btn btn-info my-3 mx-auto">Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}
