{% extends 'base.html.twig' %}

{% block title %}
	OrgalizeLife | Events
{% endblock %}

{% block body %}
	<h3>Ici</h3>
	<div class="">
		{# {% if events %} #}
			{# Array associatif pour mapper les noms de route aux fichiers Twig  #}
			{% set routeName = app.request.attributes.get('_route') %}

			{# {% include {
                'project.show': './_show.html.twig',
                'project.new': './_formProject.html.twig',
                'project.edit': './_formProject.html.twig',
                'project.index': '../home/index.html.twig'

            }[routeName] ?? '' %} #}

		{# {% else %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

				<div class="alert-message">
					<p>Pas de project en cours ...</p>
					<a href="{{ path('project.new') }}">Nouveau</a>
				</div>
			</div>
		{% endif %} #}

	</div>
{% endblock %}

