body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

main {
    width: 100%;
}

.flashMessage {
    position: fixed; 
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    padding: 15px;
    border-radius: 4px;
    width: 80%; 
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
