section {
    padding: 60px 0;
    overflow: hidden;
  }

.boxWhite {
  text-align: center;
  border-radius: 10px;
  background: $white;
  box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 40px 40px;
  width: 100%;
  transition: 0.3s;
  &:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.534);
  }
}

.titleUnderline {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: #009970;
      bottom: 0;
      left: 0;
    }
  }



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009970;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #00c28e;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
