// Color of the application
$orange: #fe890dea;
$green: #009970;
$green1: #035644;
$green2: #276f5b;

$white: #f6f6f7;

$color : rgba(255, 255, 255, 0.1);

$primary: #007bff;


// Size screen 
$breakpoints :(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);   