{% extends 'base.html.twig' %}

{% block title %} OrgalizeLife | Collaborators {% endblock %}

{% block body %}

<div class="">
	{% if projects %}
		{# Array associatif pour mapper les noms de route aux fichiers Twig  #}
		{% set routeName = app.request.attributes.get('_route') %}

		{% include {
                'collaborator.manage': './__manageCollaborator.html.twig',
                'collaborator.new': './_formCollaborator.html.twig',
                'collaborator.edit': './_formCollaborator.html.twig',
                'collaborator.index': '../home/index.html.twig'

            }[routeName] ?? '' %}

	{% else %}
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

			<div class="alert-message">
				<p>Pas de project en cours ...</p>
				<a href="{{ path('project.new') }}">Nouveau</a>
			</div>
		</div>
	{% endif %}

</div>

{% endblock %}
