<div class="boxEspacePerso">
    <h2>Vos Données Personelles</h2>
    <h3>Prénom :
        {{ app.user.firstname | capitalize }}</h3>
    <h4>Nom :
        {{ app.user.lastname | capitalize }}</h4>
    <h5>Email :
        {{ app.user.email }}</h5>
    <a href="#" class="btn-user">Modifier mes données</a>
</div>