.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/callToAction.png") fixed top center;
    background-size: cover;
    padding: 80px 0;
    width: 100%;

    h3 {
        color: $white;
        font-size: 28px;
        font-weight: 700;
    }
    p {
        color: $white;
    }
    .cta-btn {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 25px;
        transition: 0.5s;
        margin-top: 10px;
        border: 2px solid $white;
        color: $white;

        &:hover {
            background: $green;
            border: 2px solid $green;
          }
      }
  }
  