.navbar {
    .navbar-nav{
        .nav-item{
            .nav-link{
                color: $white;
                &.active {
                    color: black;
                    text-decoration: underline black;
                }
                &:hover{
                    color: black;

                }
            }

        }

    }
}
