.manageCalendar {
    width: 100%;
    padding: 100px 0;
    background: url("../../img/bgevent.png") center center;
    background-size: cover;
    .boxProject {
        // padding: 10px;
        /*--------------------------------------------------------------
        # Flex custom start
        --------------------------------------------------------------*/
        .flexCustomOne {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 50px 10px;
            text-align: start
        }
        .flexCustomOne:nth-of-type(1) {
            margin: 20px 10px;
        }
        .flexCustomOne:nth-of-type(4) {
            margin: 0 10px;
        }
        /*--------------------------------------------------------------
        # Flex custom End
        --------------------------------------------------------------*/
    }
}