.eventManage {
    width: 100%;
    padding: 80px 0;
    background: url("../../img/bgevent.png") center center;
    background-size: cover;

    .eventForm {
        .boxWhite:nth-of-type(2) {
                // max-width: 600px;
                height: auto;
                margin: 20px auto;
    
                .btnCustom {
                    @include btnCustom($green, black, $color, black);
                }
            }
    
    }

}



.manageCalendar {
    width: 100%;
    padding: 100px 0;
    background: url("../../img/bgevent.png") center center;
    background-size: cover;

    .boxProject {
        width: 400px;
        
    }

}