.projectShow {
    width: 100%;
    background: url("../../img/callToAction.png") center center;
    background-size: cover;
    padding: 80px 0;

    .project-layout {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .boxWhite {
            max-width: 500px;
            height: 220px;
            margin: 20px auto;

        }
        .boxProjectAdmin {
            height: auto;
            h2, h3, p {
                text-align: start;
            }
        }
        .boxCollaborator {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .boxEventAndType {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

        }

    }
    @include media-breakpoint(lg) {
        .project-layout {
            flex-direction: row;
            align-items: center;

            >div {
                flex: 1;
            }
        }
    }
}

/*------
# project/_showProject.html
---------*/
.projectForm {
    width: 100%;
    padding: 100px 0;
    background: url("../../img/hero-bg.jpg") center center;
    background-size: cover;

    .boxWhite {
        max-width: 600px;
        height: auto;
        margin: 20px auto;
        
        .btnCustom {
            @include btnCustom($green, black, $color, black);
        }
    }
}


.projects {
    .btnCustom {
        @include btnCustom($green, $white, $color, black);
    }
}