/*------
# project/_show.html
---------*/
.projetShow {
    width: 100%;
    background: url("../../img/callToAction.png") center center;
    background-size: cover;
    padding: 60px 0;
    h2 {
        padding: 30px 30px
    }
    .boxWhite {
        max-width: 500px;
        height: 220px;
        margin: 20px 0;
    }
}

/*------
# project/_showProject.html
---------*/
.projectForm {
    width: 100%;
    padding: 60px 0;
    // padding: 80px 0;
    .projectBoxAdmin {
        margin-bottom: 50px
    }

    .btnCustom {
        @include btnCustom($green, black, $color, black);
    }
}

.projects {
    .btnCustom {
        @include btnCustom($green, $white, $color, black);
            }
}