.typeEventManage {
    width: 100%;
    padding: 80px 0;
    background: url("../../img/bgevent.png") center center;
    background-size: cover;

    .boxWhite {

        h3,
        h4,
        p {
            text-align: start;
        }


    }

    .boxWhite:nth-of-type(1) {
        max-width: 400px;
        height: auto;
        margin: 20px auto;
    }

    .boxWhite:nth-of-type(2) {
        max-width: 600px;
        height: auto;
        margin: 20px auto;

        .btnCustom {
            @include btnCustom($green, black, $color, black);
        }
    }
}