.user {
    padding: 60px 0;
    background: url("../../img/bglogin.png") center center;
    background-size: cover;
    .formUserEdit {
        margin-top: 50px;
        .boxWhite{
            max-width: 500px;
            margin: auto;
            .btnCustom {
                @include btnCustom($green, black, $color, black);
            }
        }
    }
}