
// app.scss
@import "~aos/dist/aos.css";


// Folder generals
@import "./generals/variables.scss";
@import "./generals/classes.scss";
@import "./generals/mixins.scss";
@import "./generals/reset.scss";
@import "./generals/body.scss";

// Folder components
@import "./components/header.scss";
@import "./components/nav.scss";
@import "./components/footer.scss";
@import "./components/admin/count.scss";


// Folder layout
@import "./layout/home.scss";
@import "./layout/user.scss";
@import "./layout/project.scss";

